<!DOCTYPE html>
<html>

<head>
    <!-- Title -->
    <title>母親節快樂</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <div id="app">
        <div class="flower-container" v-if="showFlower">
            <!-- 花的圖片 -->
            <img id="flower" src="https://cdn.pixabay.com/photo/2020/04/01/14/55/carnation-4991454_1280.png">
        </div>
        <div class="content-container" v-if="!showFlower">
            <div id="carouselControls" class="carousel slide item" data-bs-ride="carousel" data-bs-wrap="false">
                <div class="carousel-inner">
                    <!-- 圖片一 -->
                    <div class="carousel-item active">
                        <img src="./image/1714908927900.jpg" class="d-block w-100">
                    </div>
                    <!-- 圖片二 -->
                    <div class="carousel-item">
                        <img src="./image/20230930_171459.jpg" class="d-block w-100">
                    </div>
                    <!-- 影片一 -->
                    <div class="carousel-item">
                        <video src="./image/20240511_111116.mp4" controls class="d-block w-100"></video>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- 卡片內容 -->
            <div class="item">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis quam quas magnam velit quo consequatur
                facere veniam, modi rerum nostrum numquam quia impedit voluptas alias saepe laudantium nobis beatae,
                enim cum, assumenda molestias nihil architecto inventore! Fugit repellendus ipsum accusamus doloribus
                quaerat quisquam harum doloremque, consectetur aspernatur obcaecati. Debitis, quam maxime! Eos atque
                repellendus at impedit a doloribus adipisci voluptate qui. Quae voluptas accusantium tempora illum,
                dolor sequi molestiae cumque, aut quas deleniti soluta dolorum non ratione provident repellat. Modi
                tempore officia voluptas. Facere earum asperiores voluptas maxime modi numquam accusantium aut provident
                iure quasi soluta vero, debitis illum a dignissimos velit! Voluptate corporis laboriosam asperiores,
                culpa magnam aliquam repellendus sapiente nam placeat, eveniet nulla, deleniti quos tenetur
                necessitatibus quae tempora laborum. Excepturi, eos dicta. Reprehenderit enim ipsum, facilis,
                dignissimos eius porro alias nobis ducimus dolores illum, aperiam voluptates sed natus debitis
                laudantium unde minima obcaecati veritatis et tempora exercitationem magni eligendi corrupti a. Sed
                dolores rerum atque. Tempore necessitatibus veniam rem ipsam porro! Repellendus quidem provident
                distinctio nemo nulla et deserunt incidunt accusantium quibusdam, quos id, nisi corrupti ut sequi magnam
                facilis? Illum, eligendi aperiam et ratione qui voluptatibus eius, fuga exercitationem iste unde culpa
                laborum tenetur quasi officiis recusandae vel voluptate saepe ex iure dolorum magnam aliquid ad est
                nostrum. Sint provident ad maxime ipsam dolorum minima, a sit non saepe mollitia, eos ullam optio, totam
                tenetur quis qui similique rerum. Quam voluptatibus porro impedit ratione aliquid distinctio alias quae
                quasi quaerat sint unde animi similique tenetur sunt omnis sequi, cum vitae qui? Ut veritatis officia,
                labore sequi adipisci quisquam obcaecati consequuntur delectus esse accusamus nemo omnis ratione
                deserunt officiis, temporibus quas aspernatur ab molestiae quasi doloremque facilis? Corporis, quia
                voluptate assumenda facilis aliquid laudantium! At veniam, vel tempore inventore ad adipisci odit
                officiis, ut repellat molestiae voluptates voluptate possimus, deleniti perferendis quae perspiciatis
                suscipit! Voluptates dolorum repellat tempore molestias amet deserunt inventore distinctio assumenda
                iste obcaecati ipsa hic, delectus fugiat in dolorem officia laboriosam numquam adipisci tenetur?
                Sapiente animi nesciunt, esse molestias, fugiat soluta dignissimos ipsum, ipsa inventore magni aut eius
                aspernatur? Repellat iusto eius dolorem dolore totam deserunt a veniam excepturi blanditiis deleniti
                distinctio tempora, dolorum libero at provident eveniet consectetur sint? Debitis a odio deleniti ipsam
                ducimus sit dolor voluptas labore incidunt, qui ut beatae eius dicta perspiciatis laudantium delectus
                illum natus fuga eligendi! Aliquid reiciendis ea quidem consectetur, odit voluptatem laudantium
                blanditiis. Excepturi accusamus, cumque modi minima temporibus omnis sequi doloremque perspiciatis alias
                earum sit soluta nesciunt placeat maxime explicabo natus repellendus ipsum saepe iste eius veniam ab
                eum! Iusto, iure voluptates! Repellendus distinctio ad iste quaerat voluptatibus beatae quae iure
                maiores sed pariatur, enim ipsum ipsam, veniam placeat alias perspiciatis? Velit doloribus quod eaque
                dignissimos placeat id ipsa consectetur neque illo nemo recusandae deleniti, rem debitis porro impedit
                facilis. Minus ipsam minima alias quis explicabo eligendi voluptate, sit sint porro laudantium sequi
                corporis doloremque dignissimos doloribus fugit impedit! Corporis nostrum animi veritatis labore,
                magnam, exercitationem repellat recusandae blanditiis officia consectetur laborum ut quia!
            </div>
        </div>
    </div>
    <script src="./script.js"></script>
</body>

</html>